<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row  align-items-center justify-content-center">

    <main role="main" class=" cover bg-light text-center align-item-center" style="height: 90vh;">
      <div class="container py-5">
        <h1 class="cover-heading ">Cover your page.</h1>
        <p class="lead my-3">Cover is a one-page template for building simple and beautiful home pages. Download, edit
          the
          text,
          and add your own fullscreen background photo to make it your own.</p>
        <p class="lead my-5">
          <a href="#" class="btn btn-lg btn-outline-success">Learn more</a>
        </p>
      </div>
    </main>
  </div>
</div>
