<div class="section-2">
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column">
        <h1 class="heading-1">Like & Share</h1>
        <p class="para-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
          quisquam consequuntur, magnam recusandae sed vitae?
        </p>
        <input type="button" value="show" class="btn btn-danger" />
      </div>
    </div>
  </div>
</div>

<div class="section-3 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fas fa-question fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3>24/7 Support</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis odit fugiat quas eaque ut! Ratione corporis modi
              laboriosam consequuntur possimus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fas fa-seedling fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3>Marketing</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis odit fugiat quas eaque ut! Ratione corporis modi
              laboriosam consequuntur possimus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fas fa-rocket fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3>Speed</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis odit fugiat quas eaque ut! Ratione corporis modi
              laboriosam consequuntur possimus.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fas fa-user-shield fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3>Authorized</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis odit fugiat quas eaque ut! Ratione corporis modi
              laboriosam consequuntur possimus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fas fa-sliders-h fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3>Customize</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis odit fugiat quas eaque ut! Ratione corporis modi
              laboriosam consequuntur possimus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row">
          <i class="fas fa-search fa-3x m-2"></i>
          <div class="d-flex flex-column">
            <h3>SEO</h3>
            <p class="m-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reiciendis odit fugiat quas eaque ut! Ratione corporis modi
              laboriosam consequuntur possimus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
