.section-2 .container-fluid {
  background-image: url(projects\practice-project\src\assets\images\media.jpg);
  background-size: contain;
  background-attachment: fixed;
}

.section-2 .heading-1 {
  margin-top: 20%;
  margin-bottom: 4%;
  font-family: "Righteous";
  width: 80%;
  color: blueviolet;
  text-shadow: black 0 5px 4px;
}

.section-2 .para-1 {
  font-family: "Ubuntu";
  color: black;
  width: 80%;
  margin-bottom: 7%;
  text-shadow: blueviolet 0 5px 4px;
}

.section-2 .flex-column {
  margin-left: 60%;
}

.section-2 .btn {
  width: 30%;
  margin-bottom: 15%;
  padding: 2% 5%;
}

.section-3 {
  margin-top: 6% !important;
}

.section-3 .i {
  color: #00e8e8;
}

.section-3 p {
  color: rgba(0, 0, 0, 0.59);
}
