<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand ml-3"
      >Rj:)
      <span style="color: #00e8e8;">Tech</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggler="collapse"
      data-targate="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"></div>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-item active">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">Features</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">Events</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">Gallary</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">Pages</a>
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link">Contace Us</a>
        </li>
      </ul>

      <form action="" class="form-inline my-2 my-lg-0">
        <button class="btn menu-right-btn border" type="submit">
          Template
        </button>
      </form>
    </div>
  </nav>
</header>

<main>
  <!-- page start -->
  <div class="container-fluid p-0">
    <div class="site-content">
      <div class="d-flex justify-content-center">
        <div class="-dflex flex-column">
          <h1 class="site-title">Bootstrap User Interface</h1>
          <p class="site-desc">
            Lorem ipsum consectetur dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="d-flex flex-row">
            <input
              type="button"
              value="Buy Template"
              class="btn site-btn1 px-4 py-3 mr-4 btn-dark"
            />
            <input
              type="button"
              value="Know Features"
              class="btn site-btn2 px-4 py-3 mr-4 btn-outline-light"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pagestart -->

  <div class="section-1">
    <div class="container text-center">
      <h1 class="heading-1">Fantastic Features</h1>
      <h1 class="heading-2">And Different Type Of Templates</h1>
      <p class="para-1">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis harum
        eligendi libero dolores cum voluptates hic repellat explicabo aperiam
        architecto.
      </p>
      <div class="row justify-content-center text-center">
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="assets\images\card1.jpg"
              alt="image-1"
            />
            <div class="card-body">
              <h4 class="card-title">Responsive</h4>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolores architecto modi ut nam. Repellat corporis omnis quod,
                voluptatum expedita sapiente!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="assets\images\card2.jpg"
              alt="image-1"
            />
            <div class="card-body">
              <h4 class="card-title">Flexibal</h4>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolores architecto modi ut nam. Repellat corporis omnis quod,
                voluptatum expedita sapiente!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="assets\images\angular.jpg"
              alt="image-1"
            />
            <div class="card-body">
              <h4 class="card-title">Angular 9</h4>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolores architecto modi ut nam. Repellat corporis omnis quod,
                voluptatum expedita sapiente!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-page-body></app-page-body>
